.nav {
  background: linear-gradient(#95d8a8, #6dc184);
  height: 5vh;
  border-radius: 0.5rem;
  padding: 0rem 1.5rem;

  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  overflow: hidden;
  cursor: pointer;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 90vw;
  margin: 4.5vh auto;
}
.nav .elements {
  display: grid;
  grid-template-columns: 5% 80% 15%;
  align-items: center;
  height: 5vh;
  z-index: 100;
}
.nav .logo i {
  transform: rotate(135deg);
  font-size: 1.45rem;
  color: #fff;
}
.nav .logo,
.nav .searchProfile {
  margin: 0 auto;
}

.nav .tags {
  width: 75%;
  display: flex;
  gap: 0.2rem;
  justify-content: space-evenly;
  margin: 0 auto;
}
.nav .tags,
.nav .searchProfile {
  display: flex;
  align-items: center;
}
.nav .tags .active {
  color: #000;
  background: #fff;
  border-radius: 1.4rem;
  padding: 0.2rem 1.2rem;
  font-size: 1.33rem;
  cursor: pointer;
  transition: 0.5s;
  height: 4.5vh;
  display: flex;
  width: 12vw;
  align-items: center;
  justify-content: center;
}
.nav .tags a {
  width: 12vw;
  transition: 0.5s;
  border-radius: 1.4rem;
  padding: 0.2rem 1.2rem;
  font-size: 1.33rem;
  cursor: pointer;
  transition: 0.5s;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .tags a:hover {
  background: #fff;
  width: 12vw;
}
.nav .searchProfile {
  justify-content: space-between;
  margin: 0 auto;
}
.nav .searchProfile input {
  height: 4.5vh;
  border-radius: 1.4rem;
  padding: 0.5rem 0.9rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  transition: 0.5s;
  width: 85%;
  background: #fff;
  display: flex;
  align-items: center;
}
.nav .searchProfile input::placeholder {
  color: #414040;
  letter-spacing: 0;
  font-size: 1.3rem;
}
.nav .searchProfile i {
  font-size: 1.4rem;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 0.45rem;
  margin-left: 0.4vw;
}
.nav-responsive {
  display: none;
}
@media screen and (max-width: 550px) {
  .nav {
    display: none;
  }
  .nav-responsive {
    display: flex;
    flex-direction: column;
    transition: 0.6s;
  }
  .nav-responsive .logo,
  .nav-responsive .tags a {
    background: linear-gradient(#95d8a8, #6dc184);

    border-radius: 0.5rem;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif;
    width: 90vw;
    margin: 0.4vh auto;
    font-size: 1.4rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
  }
  .nav-responsive .tags a {
    height: 5vh;
    justify-content: center;
    transition: 0.6s;
  }
  .nav-responsive {
    margin: 5vh auto;
    transition: 0.6s;
  }
  .nav-responsive .tags .active {
    background: #fff;
    border: 2px solid #6dc184;
  }
  .nav-responsive .logo {
    height: 5vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 1vh auto;
    padding: 0 1.2rem;
    transition: 0.6s;
  }
}
