.nav {
  background: linear-gradient(#95d8a8, #6dc184);
  height: 5vh;
  border-radius: 0.5rem;
  padding: 0rem 1.5rem;

  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  overflow: hidden;
  cursor: pointer;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}
.nav .elements {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  align-items: center;
  height: 5vh;
  z-index: 100;
}
.nav .logo i {
  transform: rotate(135deg);
  font-size: 1.45rem;
}
.nav .logo,
.nav .searchProfile {
  margin: 0 auto;
}

.nav .tags {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.nav .tags,
.nav .searchProfile {
  display: flex;
  align-items: center;
}
.nav .tags .active {
  color: #000;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  font-size: 1.33rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.5s;
}
.nav .searchProfile {
  justify-content: space-between;
  margin: 0 auto;
}
.nav .searchProfile input {
  height: 4vh;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  transition: 0.5s;
  width: 85%;
}
.nav .searchProfile input::placeholder {
  color: #000;
  letter-spacing: 0;
  font-size: 1.4rem;
}
.nav .searchProfile i {
  font-size: 1.4rem;

  border-radius: 50%;
}
.nav-responsive {
  display: none;
  background: linear-gradient(#95d8a8, #6dc184);
  height: 5vh;
  border-radius: 0.5rem;
  padding: 0rem 1.5rem;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 85vw;
  margin: 0 auto;
  font-size: 1.4rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}

.menu-toggle {
  cursor: pointer;
  transition: 0.6s;
}

.menu-toggle.active {
  transform: rotate(90deg);
  transition: 0.6s;
}
.responsive-menu {
  display: none;
  transition: height 0.6s ease;
}
.responsive-menu .tags li {
  display: none;
}
