@media screen and (max-width: 550px) {
  .Reviews .regions {
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }
  .Reviews .regions div {
    font-size: 1.3rem;
    border: 2px solid #cad1d8;
    border-radius: 2rem;
    cursor: pointer;
    padding: 0.25rem 2rem;
    width: 6vw;
    display: flex;
    justify-content: center;
  }
  .Reviews .patients-reviews {
    margin: 7vh;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2vh;
  }
  .Reviews .patients-reviews {
    margin: 5%;
  }
  .Reviews .Review {
    margin: 2vh 0;
  }
  .Reviews {
    margin: 0;
  }
}
