@media screen and (max-width: 1450px) {
  .ImageCon img {
    height: 19rem;
    width: 19rem;
  }
  .Ctwo-First {
    height: auto;
    padding: auto;
  }
  .Ctwo-First .joined,
  .Ctwo-First .aim {
    height: 15vh;
  }
  .Ctwo-First {
    grid-template-columns: 40% 60%;
  }
  .SecondCtwo {
    grid-template-columns: 1% 45% 54%;
  }
  .SecondCtwo .explore,
  .SecondCtwo .watch {
    height: 6.5vh;
  }
  .nav .tags a {
    width: 14vw;
  }
}

@media screen and (max-width: 1100px) {
  .ImageCon img {
    height: 15rem;
    width: 15rem;
  }
}
@media screen and (max-width: 550px) {
  .Reviews .regions {
    width: 95vw;
    margin: 0 auto;
  }
  .nav .tags,
  .nav .searchProfile {
    display: none;
  }
  .nav {
    width: 98%;
  }
  .Cone {
    grid-template-columns: 100%;
    grid-template-rows: repeat(20vh, 2);
  }
  .Info {
    grid-template-rows: repeat(auto, 2);
  }
  .SecondMain {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 2);
  }
  .First .con div,
  .Second .founderinfo,
  .Main div,
  .Second {
    width: auto;
    margin: 0 auto;
  }
  .First .con h1 {
    align-items: flex-start;
  }
  .ImageCon img {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
  }
  .ImageCon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  .Info {
    grid-template-rows: auto auto;
    grid-row-gap: 5vh;
  }
  .Main h1 {
    font-weight: 500;
    line-height: 4.5vh;
  }
  .Main {
    grid-row-gap: 3vh;
  }
  .nav {
    display: none;
  }

  .SecondMain .First {
    grid-template-columns: 100%;
  }
  .ImageCon {
    margin-top: 3vh;
  }

  .Ctwo,
  .Ctwo-First,
  .SecondCtwo {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 2);
    grid-row-gap: 2vh;
  }
  .SecondCtwo .explore,
  .SecondCtwo .watch {
    height: auto;
  }
  .Ctwo-First .joined {
    align-items: center;
    justify-content: center;
  }
  .Ctwo-First .joined .headline {
    margin-left: -1rem;
    margin-top: 0.7rem;
  }
  .Ctwo {
    grid-row-gap: 4vh;
  }
  .Ctwo-First .joined,
  .Ctwo-First .aim {
    height: auto;
  }
  .TrustedCompanies {
    width: 100%;
  }
  .TrustedCompanies .companiesList {
    display: flex;
    flex-wrap: wrap;
  }
  .TrustedCompanies .companiesList img {
    margin: 0;
  }
  .TrustedCompanies .companiesList img {
    margin: 0rem;
  }

  .ImageCon .img-dtwo,
  .ImageCon .img-done {
    display: none;
  }
}
