@media screen and (max-width: 900px) {
  .nav .tags,
  .nav .searchProfile {
    display: none;
  }
  .nav {
    width: 90%;
  }
  .Cone {
    grid-template-columns: 100%;
    grid-template-rows: repeat(20vh, 2);
  }
  .Info {
    grid-template-rows: repeat(auto, 2);
  }
  .SecondMain {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 2);
  }
  .First .con div,
  .Second .founderinfo,
  .Main div,
  .Second {
    width: auto;
    margin: 0 auto;
  }
  .First .con h1 {
    align-items: flex-start;
  }
  .ImageCon img {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
  }
  .Info {
    grid-template-rows: auto auto;
    grid-row-gap: 5vh;
  }
  .Main h1 {
    font-weight: 500;
    line-height: 4.5vh;
  }
  .Main {
    grid-row-gap: 3vh;
  }
  .nav {
    display: none;
  }
  .nav-responsive {
    display: flex;
  }
  .responsive-menu .tags li {
    display: block;
    background: linear-gradient(#95d8a8, #6dc184);
    height: 5vh;
    border-radius: 0.5rem;
    padding: 0rem 1.5rem;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif;
    width: 85vw;
    margin: 0 auto;
    font-size: 1.4rem;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    transition: height 0.6s ease;
  }

  .responsive-menu.show {
    display: block;
    height: auto;
  }

  .SecondMain .First {
    grid-template-columns: 100%;
  }
  .ImageCon {
    margin-top: 3vh;
  }
}
