.Doctors {
  font-weight: 500;
  font-family: 'Inria Sans', sans-serif;
  font-weight: 500;
  margin: 10vh;
}

.Doctors h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1vh;
}

.Doctors h3 {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 500;
}

.Doctors .doctorsInfo {
  margin: 7vh auto;
  display: flex;
  gap: 2vw;
  cursor: pointer;
  margin-bottom: 2vh;
  overflow-y: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 450px) {
  .Doctors .doctorsInfo {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .Doctor {
    width: 100%;
  }

  .Doctors {
    margin: 10vh 0;
  }
}