.ImageCon img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  animation: rotate 15s infinite ease-in-out;
  margin-left: 5vw;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.ImageCon img:hover {
  animation: none;
  transition: 0.5s;
  cursor: pointer;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transition: 0.5s;
  }
  100% {
    transform: rotate(360deg);
    transition: 0.5s;
  }
}
.Main {
  display: grid;
  font-family: 'Inria Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}
.Main h1 {
  font-size: 2.3rem;
  margin-bottom: 0.23rem;
  font-weight: 500;
}
.Main div {
  line-height: 1.6rem;
  font-size: 1.2rem;
  width: 45vw;
  padding: 1rem 1.7rem;
  background: linear-gradient(#e0dcdc, #eceaea);
  border-radius: 1.2rem;
}

.Info {
  display: grid;
  grid-template-rows: 25% 75%;
}
