.ImageCon img {
  height: 23rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.ImageCon {
  position: relative;
}

.ImageCon .img-done {
  position: absolute;
  bottom: 4vh;
  left: -2vh;
}

.ImageCon .img-dtwo {
  position: absolute;
  top: 4vh;
  right: 2vw;
}