.btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(224, 220, 220, 0.3),
    rgba(236, 234, 234, 0.3)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.btn i {
  font-size: 2rem;
  color: #85d39a;
}
.btn {
  position: absolute;
  bottom: 5vh;
  right: 4vw;
}
